<%- include('partials/header.ejs'); -%>
<body> 
    <%- include('partials/navbar.ejs'); -%>  
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h5>Realizar pergunta</h5>
            </div>
            <div class="card-body">
                <form method="post" action="/save-question">
                    <label>Título</label>
                    <input type="text" name="title" id="ask" placeholder="Título*" required class="form-control mb-4">
                    <label>Descrição</label>
                    <textarea name="description" cols="30" rows="7" placeholder="Descreva com detalhes a sua pergunta*" required
                        class="form-control"></textarea>
                    <button class="btn btn-success mt-4">Perguntar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include('partials/footer.ejs'); -%>
